{% extends "::base.html.twig" %}


{% block title %}
    Not Found
{% endblock %}

{% block body %}
    <div class="centered">
        <h1>Empty Galaxy</h1>
        <h2>404 - not found</h2>
    </div>
{% endblock %}