<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <header>
        <h1 class="logo"><img src="{{ asset('assets/logo.png') }}" alt=""></h1>
        {% if is_granted("ROLE_USER") %}
        {% include 'system/userNav.html.twig' %}
        {#{% include 'player/userStats.html.twig' with {'user': app.user } %}#}
        {% else %}
        {% include 'system/guestNav.twig' %}
        {% endif %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
