{% extends '::base.html.twig' %}

{% block body %}
<div style="text-align: center">
    <img src="{{ asset('assets/splash.png') }}" alt="">
</div>
{% endblock %}

{% block title %}
Whoniverse
{% endblock %}

