@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
    padding: 0;
    margin: 0;
    font-family: Raleway;
    background: url("../assets/bg2.jpg") center top no-repeat;
    background-color: #000403;
    background-size: 100%;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-top: 20px;
    min-height: 100%;
    width: 1200px;
    margin: auto;
}

.logo {
    float: left;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
}

nav {
    margin-bottom: 20px;
    display: inline-block;
    float: right;
}

nav:after {
    content: '';

    display: block;
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav a, .one-user .button a, h1 a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    background: white;
    border-radius: 30px;
    color: purple;
    border: 1px solid white;
}

nav a:hover, .one-user .button a:hover {
    background: none;
    color: #fff;
}

h1 img {
    margin-top: 5px;
}

.hero {
    height: 310px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.hero > div {
    width: 30%;
}

.hero span {
    display: block;
}

.hero .username {
    text-align: right;
}

.hero .type {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.hero .name {
    font-size: 52px;
}

.hero img {
    border-radius: 50%;
    border: 5px solid white;
}

.hero .username, .hero .planetname {
    margin-top: 110px;
}

.hero .userplanet {
    width: 150px;
    height: auto;
    position: relative;
    top: -235px;
    left: 200px;
}

main {
    display: block;
    clear: both;
}

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

section img.main {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
}

section > div {
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

section > div h2, section > div h3 {
    font-size: 16px;
    margin: 0 auto;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    background: purple;
    color: white;
    position: relative;
    top: -20px;
    font-weight: normal;
}

.details img {
    border-radius: 50%;
    border: 1px solid white;
    display: block;
    margin: auto;
    width: 40px;
    height: auto
}

section > div .button {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    background: white;
    border-radius: 30px;
    color: purple;
    border: 1px solid white;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 20px auto 0 auto;
}

section.stocks img {
    width: 30%;
}

section.stocks h2, section.stocks h3 {
    position: static;
    margin-top: 20px;
}

.one-user {
    clear: both;
    height: 64px;
    padding: 6px;
    box-sizing: border-box;
    line-height: 52px;
}

.one-user:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35px;
}

.one-user img {
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-radius: 50%;
}

.one-user span {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 191px;
    font-size: 22px;
    vertical-align: top;
}

.one-user .smaller {
    font-size: 14px;
}

.one-user .button {
    text-align: right;
}

.one-user .button a {
    position: relative;
    top: -4px;
}

.attack-big a {
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 30px;
    color: purple;
    line-height: 50px;
    font-size: 25px;
}

form {
    width: 400px;
    display: block;
    margin: 0 auto;
}

label, input, button, select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input, button, select {
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    margin: 0;
    background: purple;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

h1 a {
    margin-left: 20px;
    position: relative;
    top: -5px;
}

.warriors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.warriors .info {

}

.vs-block {
    display: flex;
    justify-content: space-between;
}

.vs-block > div {
    width: 45%;
}

.vs-block > .vs {
    width: 10%;
    font-size: 80px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-weight: bold;
}

.vs-block > div span {
    position: relative;
    display: block;
    text-align: left;
    font-size: 36px;
    float: left;
    line-height: 200px;
}

.vs-block > div img {
    border-radius: 50%;
    border: 5px solid white;
    display: block;
    float: left;
}

.vs-block > div.victim img {
    float: right;
}

.vs-block .useravatar {
    width: 200px;
    height: auto;
}

.vs-block .userplanet {
    width: 100px;
    height: auto;
    position: relative;
    top: 50px;
}

.attacker .userplanet {
    left: -75px;
}

.victim .userplanet {
    left: 75px;
}

.attacker span {
    left: -60px !important;

}

.victim span {
    left: 60px !important;
    float: right !important;
    text-align: right;
}

.remove-bg {
    justify-content: center;
}

.remove-bg > div {
    margin: 0 10px;
}

.centered {
    text-align: center;
}

.centered label {
    text-align: left;
}

.centered h1 {
    text-align: center;
}

.centered h1 span {
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.centered p {
    float: left;
    margin: 0;
}

.centered .right {
    float: right;
}

p.right + h3 {
    clear: both;
}

.centered h3 {
    margin-top: 0 !important;
    float: left;
}

.centered .right {
    float: right;
}

.centered section > div {
    padding: 10px 20px;
    box-sizing: border-box;
}

img.round {
    border: 5px solid white;
    border-radius: 50%;
}

.battles {
    display: flex;
    justify-content: space-between;
}

.battles > div {
    width: 49%;
}

.defending {
    text-align: right;
}

.defending a * {
    float: right !important;
}

a.one-user {
    display: block;
}

.attacker {
    text-align: right;
}

.victim {
    text-align: left;
}

.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stats > div {
    width: 120px;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;
}

.stats span {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin: auto;
    text-align: center;
}

.stats div div {
    font-size: 36px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;

}

.stats img {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid white;
}

.battles .attacking .extra {
    width: 270px;
    text-align: right;
    font-size: 14px;
}
.battles .defending .extra {
    width: 270px;
    text-align: left;
    font-size: 14px;
}

.remove-bg > div {
    width: 200px;
}