<nav>
    <ul>
        <li><a href="{{ path('dashboard') }}">Home</a></li>
        <li><a href="{{ path('register') }}">Register</a></li>
        <li><a href="{{ path('login') }}">Sign in</a></li>
    </ul>
</nav>